.header.header-2, header.header-2 {
    background-color: #002538;
  }
  
  hr {
    margin-top: 1rem;
  }
  div.scrollmenu {
      z-index: 99999999999999999;
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
  
    position: absolute;
  }
  
  div.scrollmenu div {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }
  
  div.scrollmenu div:hover {
    background-color: #777;
  }
  .scroll-container {
    scroll-snap-type: y mandatory;
      z-index: 99999999999999999;
      width: 50vh;
      height: 10%;
    display: flex;
 
    mask-image: linear-gradient(to right, 
    rgba(255,255,255,0) 0%, 
    rgba(255,255,255,1) 15%, 
    rgba(255,255,255,1) 25%, 
    rgba(255,255,255,1) 35%, 
    rgba(255,255,255,1) 50%, 
    rgba(255,255,255,1) 65%, 
    rgba(255,255,255,1) 75%, 
    rgba(255,255,255,1) 85%, 
    rgba(255,255,255,0) 100%);
  
    align-items: center;
    
    position: absolute;
    overflow-x: scroll;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);

    
  
    &.hide-scrollbar {
      overflow: auto;
      &::-webkit-scrollbar {
        display: none;
      }
    }
  
    &.show-scroll {
      overflow: auto;
    }
  
    .items {
      scroll-snap-align: start;
      white-space: nowrap;
      background: black;
      border: 1px solid #efefef;
      border-radius: 25px;
      margin: .1rem;
      padding: .2rem .7rem;
      transition: all 0.2s;
      
      user-select: none;
      
    
    transform: scale(0.90);
      &:hover {
        cursor: pointer;
        background: #ccc;
      }
    }
    .items.active {
      cursor: grab;
      cursor: -webkit-grabbing;
      transform: scale(1);
    }
  
  }

  .content{

    position: absolute;
  }