
//Hardcoded. bare en test for videre utvikling. Må få lagret HMI i database

<svg
  id="Layer_1"
  data-name="Layer 1"
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  viewBox="0 0 802 327"
>
  <defs>
    <style>
      .cls-1 {
        fill: #f9f7f7;
      }
      .cls-1,
      .cls-2,
      .cls-3,
      .cls-4 {
        stroke: #000;
      }
      .cls-1,
      .cls-2,
      .cls-3,
      .cls-4,
      .cls-7 {
        stroke-miterlimit: 10;
      }
      .cls-2 {
        fill: url(#Sky);
        transform-origin: bottom;
        transition: all 0.5s;
      }
      .cls-3,
      .cls-5 {
        fill: lime;
      }
      .cls-6 {
        font-size: 12px;
        font-family: MyriadPro-Regular, Myriad Pro;
      }
      .cls-7 {
        fill: #29abe2;
        stroke: #29abe2;
        stroke-width: 3px;
        opacity: 0.47;
      }
    </style>
    <linearGradient
      id="Sky"
      x1="284.5"
      y1="123.5"
      x2="284.5"
      y2="317.5"
      gradientUnits="userSpaceOnUse"
    >
      <stop offset="0" stop-color="#cce0f4" />
      <stop offset="0.06" stop-color="#c3dcf2" />
      <stop offset="0.17" stop-color="#a9d2ee" />
      <stop offset="0.31" stop-color="#80c2e7" />
      <stop offset="0.46" stop-color="#47acde" />
      <stop offset="0.57" stop-color="#1e9cd7" />
      <stop offset="0.87" stop-color="#0075be" />
      <stop offset="0.99" stop-color="#005b97" />
    </linearGradient>
  </defs>
  <rect class="cls-1" x="80.5" y="73.5" width="408" height="244" />
  <rect #tank class="cls-2" x="80.5" y="123.5" width="408" height="194" />
  <ellipse class="cls-3" cx="134" cy="27.5" rx="26.5" ry="27" />
  <ellipse class="cls-3" cx="417" cy="27.5" rx="26.5" ry="27" />
  <polygon class="cls-4" points="132.93 9.5 115.5 39.5 154 39.5 132.93 9.5" />
  <polygon class="cls-4" points="415.14 9.5 397.7 39.5 436.2 39.5 415.14 9.5" />
  <rect class="cls-5" x="239.5" y="204.5" width="72" height="31" rx="9" />
  <text x="-301" y="-310" />
  <text x="-301" y="-310" />
  <circle class="cls-3" cx="525" cy="266" r="14.5" />
  <circle class="cls-3" cx="525" cy="302" r="14.5" />
  <text class="cls-6" transform="translate(523 269)">L</text>
  <text class="cls-6" transform="translate(520 306)">LL</text>
  <line class="cls-7" x1="134" y1="55" x2="135" y2="287" />
  <line class="cls-7" x1="416.5" y1="54" x2="417.5" y2="286" />
  <rect class="cls-5" y="180" width="72" height="31" rx="9" />
  <text class="cls-6" transform="translate(31 198)">{{data[2].value + " "+"mm"}}</text>
  <text class="cls-6" transform="translate(273.4 222.99)">{{data[1].value+" "+data[1].unit}}</text>
</svg>
