

<!-- <header> -->

  <!-- This div is  intentionally blank. It creates the transparent black overlay over the video which you can modify in the CSS -->
  <!-- <div class="overlay"></div> -->

  <!-- The HTML5 video element that will create the background video on the header -->
      <!-- The header content -->
    
        <div class="title">
            <h1 >Ferjekai App</h1>
          
          </div>
   
  <div class="hero-wrapper">
    <div class="hero">
        <figure><video loop="loop" muted="muted" autoplay="autoplay">
                <source src="https://cdn.videvo.net/videvo_files/video/free/2013-09/large_watermarked/FerryComingtoDock1_1_preview.mp4" />
            </video>
            <figcaption>
                <h1>Really cool video parallax</h1>
            </figcaption>
        </figure>
    </div>
</div>
<div class="stretch">

  <div class="main">

    <div class='content'>
    <mat-card class="example-card">
     
     
      <mat-card-content>
        <app-loginform (cognitoUser)='onRegister($event)' *ngIf="!cognitoUser"></app-loginform>
        <app-confirm-form [email]="cognitoUser" *ngIf="cognitoUser && !cognitoUser.userConfirmed"></app-confirm-form>
      </mat-card-content>
  
    </mat-card>
  </div>
  </div>
</div>






