<h1 mat-dialog-title><strong>{{action}}</strong></h1>
<div mat-dialog-content>
  <mat-form-field *ngIf="action != 'Delete'; else elseTemplate">
    <input placeholder="Rapportert av" matInput [(ngModel)]="local_data.reportedBy">
  </mat-form-field>

  <mat-form-field *ngIf="action != 'Delete'">
    <input placeholder="Forklaring" matInput [(ngModel)]="local_data.description">
  </mat-form-field>

  <mat-form-field *ngIf="action != 'Delete'">
    <mat-label>Status</mat-label>
    <mat-select [(value)] ="local_data.status" >
        <mat-option value="done">Done</mat-option>
        <mat-option value="inProgress">In Progess</mat-option>
      </mat-select>
  </mat-form-field>
  <ng-template #elseTemplate>
    Sikker du vil slette <b>{{local_data.description}}</b>?
  </ng-template>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="doAction()">{{action}}</button>
  <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
</div>