body, html {
    height: 100%;
    margin: 0;
  }
  
  .bgimg {
    background-image: url('https://images.pexels.com/photos/1072179/pexels-photo-1072179.jpeg?cs=srgb&dl=pexels-c%C3%A1tia-matos-1072179.jpg&fm=jpg');
    height: 100%;
 
  
  
  }
  
  .topleft {
    position: absolute;
    top: 0;
    left: 16px;
  }
  .button{
    cursor: pointer;
  }
  .bottomleft {
    position: absolute;
    bottom: 0;
    left: 16px;
  }
  .middle h1{
font-size: 10vw;
  }

  .middle p{
      margin-top: 15%;
  }
  
  .middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }


  
  hr {
    margin: auto;
    width: 40%;
  }
  .icons{
    margin-top: 20%;
   
  }

  .icons h2{

    font-size: 80%;
  }