
	<form novalidate #formRef="ngForm" (ngSubmit)="onSubmit(formRef.value)">
		<div class="row">
			<div class="col-sm-6 form-group">
				<label>Ditt navn</label>
				<input type="text" class="form-control" name="name" ngModel #firstNameRef="ngModel" required [class.ctrl-error] = "firstNameRef.touched &&
firstNameRef?.errors?.required" minlength="3"> 
        <div *ngIf="firstNameRef.touched &&
firstNameRef?.errors?.required" class="error-message">
The name is required.
</div>
<div class="error-message" *ngIf="firstNameRef.touched &&
firstNameRef?.errors?.minlength">
You should enter minimum
{{firstNameRef?.errors?.minlength.requiredLength}}
characters into first name, but you entered only
{{firstNameRef?.errors?.minlength.actualLength}} character(s).
</div>
			</div>
		
		</div>
		
	
		<div class="row">
            <div class="col-sm-6 form-group">
				<label>Status</label>
			
                    <mat-select [(value)]="iStatus">
                      <mat-option *ngFor="let stat of keys()" [value]="stat">
                        {{stat}}
                      </mat-option>
                    </mat-select>
              
			</div>
			
			<div class="col-sm-6 form-group">
				<label>Forklaring</label>
				<input type="text" class="form-control" name="description" ngModel required #cityRef="ngModel">
			</div>
		</div>
	



		<button type="submit" class="btn btn-secondary" [disabled]="formRef.invalid">Legg til</button>
	</form>
