<div>



  
  <mat-drawer class="drawer" #drawer mode="push"  position="end">


    <mat-nav-list>
     <div  mat-subheader >Velg kai</div> 
        <mat-list-item  class="items" *ngFor="let item of docks"
        #item
        (click)="flyToDock(item.location)"
       >
    
            
          {{ item.name }}
          <mat-divider></mat-divider>
        </mat-list-item>


  




    </mat-nav-list>

   
  </mat-drawer>

  <button class="button" mat-raised-button (click)="drawer.toggle()">
    
    <mat-icon>directions_boat</mat-icon>
  </button>




</div>