<mat-card class="dashboard-card">
    <mat-card-header class="card-header">
        <mat-card-title class="value">
            
            <h1 class="value-text" >{{value}}</h1>
            <h3 class="unit"> {{unit}}  </h3>
        </mat-card-title>
        <h1 *ngIf="isRotated" class="value-text">{{direction}}</h1>

        <div mat-card-avatar class="card-icon">
            <mat-icon  [color]="color" class="avatar-icon">{{icon}}</mat-icon>
            
        </div>
    </mat-card-header>
    <h3 class="title-text">{{title}}</h3>
  
</mat-card>