

<div  class="example-container">

<mat-toolbar >

  <div class="menu">
    <button  mat-icon-button (click)="sideNav.toggle()">
      <mat-icon>
       menu
      </mat-icon>
    </button>
  </div>
   
    
   
 
      <img src="../assets/logo.png" (click)="getCred()" class="logo">
    

      <div></div>
    <!-- <mat-chip-list  aria-label="Fish selection">
      <mat-chip class="chip" color="warning"  selected>
<mat-icon class="icon" >person</mat-icon>
<h3 style="font-size: small;">Ole</h3>

      </mat-chip>
      
    </mat-chip-list> -->
  
 

  
  </mat-toolbar>
  
  <mat-sidenav-container  >
    <mat-sidenav  #sideNav mode="push" position="start">
   
      <div class="items">
        <mat-nav-list> 
          <div  mat-subheader >Meny</div>
          <mat-list-item  routerLink="landing" routerLinkActive="activebutton">
            Home

          </mat-list-item >
          <mat-list-item routerLink="/map" routerLinkActive="activebutton">
            Map

          </mat-list-item>

          <mat-divider></mat-divider>
          <div mat-subheader>Info</div>

          <mat-list-item *ngIf="checkGroup()" (click)="addDock()">
            +
          </mat-list-item>
          <mat-list-item *ngIf="checkGroup()" (click)="deleteDock()">
            -
          </mat-list-item>
      
          <mat-divider></mat-divider>
          <mat-list-item (click)="signOut()" class="logout">
            Log ut
            <mat-icon style="margin-left: 11%;">logout</mat-icon>
           
           
          </mat-list-item>
        
       
        </mat-nav-list>
      </div>
    </mat-sidenav>
  
    <mat-sidenav-content >
      <div [@triggerName]="prepareRoute(outlet)">
        <router-outlet  #outlet="outlet" (activate)='onActivate($event)'   ></router-outlet>
      </div>
    
      
    </mat-sidenav-content>
  </mat-sidenav-container>

</div>