.mat-typography {
    background: lawngreen;
  }
  
  .mat-sidenav-container {
    height: 100%;
  }
  
  .mat-sidenav {
    width: 20%;
    
  }

.menu{
  position: absolute;
  left: 0;
}
mat-toolbar{
  flex-direction: column;
  z-index: 999999999999;
}
  .home {
    
    
    cursor: pointer;
    text-align: center;
    
    
    
  }
  
  .logo{
    max-width: 80%;
    
    height: auto;
  }
  @media only screen and (max-width: 600px) {
  
  
  
    .logo{
  
      max-width: 50%;
      height: auto;
  
    }
  
  
  }

 
  

  .sidenav{
    overflow: hidden;
  }
  
  .content {
    width: 100%;
    height: 100%;
  }
  
  .homeicon{
    font-size: 140%;
  }
  

  .items{
    margin-top: 15%;
  }


  
  
  
  
  
  