.mat-typography {
    background: lawngreen;
  }
  
  .mat-sidenav-container {
    height: 100%;
  }
  
  .mat-sidenav {
    width: 20%;
  }

  .toolbar{
    
  }
  

  .home {
    
    
    cursor: pointer;
    text-align: center;
    
    
    
  }
  
  .logo{
    max-width: 80%;
    
    height: auto;
  }
  @media only screen and (max-width: 600px) {
  
    .mat-sidenav {
      width: 50%;
  
      
    }
  
    .logo{
  
      max-width: 50%;
      height: auto;
  
    }
  
  
  }

  .menu{
    left: 0px;
    position: absolute;
  }
  
  mat-toolbar-row{
    
    flex-direction: column;
  }
  .sidenav{
    overflow: hidden;
  }
  
  .content {
    width: 100%;
    height: 100%;
  }
  
  .homeicon{
    font-size: 140%;
  }
  
  .connection {
    
  }
  .items{
    margin-top: 15%;
  }
  .cameraicon{
  
    margin-right: 1em;
  }
  .connectionicon{
  
    margin-right: 1em;
  
  }
  
  
  
  
  
  
  
  