
html {
  height: 100%;
  box-sizing: border-box;
}



.leaflet-control-container .leaflet-routing-container-hide {
  display: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


.red{
  background:#F44336;
}
.green{
  background:#69F0AE ;
}

