/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; overflow: hidden; }

.pulse {
    animation: pulsate 2s ease-out;
    -webkit-animation: pulsate 1s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.0
  }
  
  
  @keyframes pulsate {
    0% {
       opacity: 0;
    }
    50% {
      opacity: 1;}
  
    100% {  opacity: 0;}
  }

  .blob.yellow {
    background: rgb(238, 241, 23);
    box-shadow: 0 0 0 0 rgb(227, 243, 8);
    animation: pulse-yellow 2s infinite; 
  }
  @keyframes pulse-yellow {
    0% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 240, 34, 0.986);
    }
    
    70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(255, 82, 82, 0);
    }
    
    100% {
      transform: scale(0.95);
      box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
    }
  }