@import "~@angular/material/theming";
@include mat-core();

html {
  height: 100%;
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  color: var(--text-color-hard);
  font-weight: 400;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  

}

.leaflet-control-container .leaflet-routing-container-hide {
  display: none;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}


.red{
  background:#F44336;
}
.green{
  background:#69F0AE ;
}

