<h1 mat-dialog-title> {{this.name.name}}</h1>
<mat-spinner *ngIf="!isWaiting" class="spinner"></mat-spinner>

<mat-dialog-content>
  <button *ngIf="checkGroup()"  mat-button (click)="config()" ><mat-icon aria-hidden="false" aria-label="Example home icon">settings</mat-icon></button>
  
 <mat-tab-group >

  
  <mat-tab label="Værdata"> 
    <h3>Updated:{{weatherUpdated}} </h3> 
    <div class="grid-container">
      <!-- <h1 class="mat-h1">VærData</h1> -->
      <mat-grid-list cols="{{ ( cardLayout | async )?.columns }}" rowHeight="200px">
        <!--Mini Cards-->
        <mat-grid-tile *ngFor="let i of weatherData" [colspan]="( cardLayout | async )?.miniCard?.cols"
          [rowspan]="( cardLayout | async )?.miniCard?.rows">
          <app-minicard  (click)='!(i.name === "Temperatur")  || openChart(i.name)' [unit]="i.unit" [icon]="i.icon" [title]="i.name" [color]="'green'" [value]=i.value [isRotated]="(i.name === 'Vindretning')"><div>Mini Card Content Here</div></app-minicard>
        </mat-grid-tile>

        <mat-grid-tile>

          
        </mat-grid-tile>
      
       
      </mat-grid-list>
  
     </div>  
  
    
  </mat-tab>
  <mat-tab label="Alarmer">
    <h3>Updated: {{alarmUpdated}} </h3> 
    <table mat-table [dataSource]="alarms" class="mat-elevation-z8 " >

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- Position Column -->

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> Id. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
      
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Definisjon </th>
        <td  mat-cell *matCellDef="let element"> 
          
          <span *ngIf="!configToggle; else editPlace">
            {{element.name}} 
            </span>

          <ng-template #editPlace>
            <input [(ngModel)]="element.name" (keyup.enter)="configToggle = false" >
          </ng-template>
        </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> status </th>
        <td mat-cell *matCellDef="let element" > <div *ngIf="checkString(element.value)"  class="blob red" ></div> 
        <div *ngIf="!checkString(element.value)" class="blob green"></div>
        
        </td>
      </ng-container>
    
 
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>  
  
  
  
  
  </mat-tab>
  <mat-tab label="Status">
    <h3>Updated: {{statusUpdated}} </h3> 
    <table mat-table [dataSource]="status" class="mat-elevation-z8 " >

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- Position Column -->

      
      
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Definisjon </th>
        <td  mat-cell *matCellDef="let element"> 
          
          <span *ngIf="!configToggle; else editPlace">
            {{element.name}} 
            </span>

          <ng-template #editPlace>
            <input [(ngModel)]="element.name" (keyup.enter)="configToggle = false" >
          </ng-template>
        </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> status </th>
        <td mat-cell *matCellDef="let element" > <div *ngIf="checkString(element.value)"  class="blob yellow" ></div> 
        <div *ngIf="!checkString(element.value)" class="blob grey"></div>
        
        </td>
      </ng-container>
    
 
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
    </table>  
  
  
  
  
  </mat-tab>

  <mat-tab label="Data">
    <h3>Updated:{{driftUpdated}} </h3> 
    <div class="grid-container">
      <!-- <h1 class="mat-h1">VærData</h1> -->
      <mat-grid-list cols="{{ ( cardLayout | async )?.columns }}" rowHeight="200px">
        <!--Mini Cards-->
        <mat-grid-tile *ngFor="let i of data" [colspan]="( cardLayout | async )?.miniCard?.cols"
          [rowspan]="( cardLayout | async )?.miniCard?.rows">
          <app-minicard (click)='!(i.name === "OljeNiva")  || openChart(i.name)' [unit]="i.unit" [icon]="i.icon" [title]="i.name" [color]="i.color" [value]=i.value [edit]="editable" ></app-minicard>
        </mat-grid-tile>
        <mat-grid-tile>

          <app-gauge [type]="'semi'" [value]="data[2].value" [min]=0 [max]=900 [label]="'Oljenivå'" [unit] ="'mm'"></app-gauge>
        </mat-grid-tile>
      
       
      </mat-grid-list>
    
     </div>  


     




  </mat-tab>
  <mat-tab label="Camera">
    <app-camera-streamer></app-camera-streamer>
</mat-tab>



<!-- <mat-tab label="HMI">
  <button mat-button (click)="goToLink('http://sulesund-fk.ddns.net/webvisu')">Gå til HMI</button>
</mat-tab> -->

<mat-tab label="Rapporter">
  
  <app-maintencereport [ferryName]="name.name"  > </app-maintencereport>
</mat-tab>


</mat-tab-group>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close (click)="close($event)">Lukk</button>
  <button  mat-button *ngIf="configToggle && checkGroup()" (click)="update()" >update</button>
</mat-dialog-actions>