<h1 mat-dialog-title> {{this.name.name}}</h1>

<mat-dialog-content>
  <button  mat-button (click)="config()" >Config</button>
  
 <mat-tab-group >
  <mat-tab label="Værdata"> 
    <h3>Updated:{{weatherUpdated}} </h3> 
    <div class="grid-container">
      <!-- <h1 class="mat-h1">VærData</h1> -->
      <mat-grid-list cols="{{ ( cardLayout | async )?.columns }}" rowHeight="200px">
        <!--Mini Cards-->
        <mat-grid-tile *ngFor="let i of weatherData" [colspan]="( cardLayout | async )?.miniCard?.cols"
          [rowspan]="( cardLayout | async )?.miniCard?.rows">
          <app-minicard [unit]="i.unit" [icon]="i.icon" [title]="i.name" [color]="'green'" [value]=i.value><div>Mini Card Content Here</div></app-minicard>
        </mat-grid-tile>
      
       
      </mat-grid-list>
    
     </div>  
  
    
  </mat-tab>
  <mat-tab label="Alarmer">
    <h3>Updated: {{weatherUpdated}} </h3> 
    <table mat-table [dataSource]="alarms" class="mat-elevation-z8 " >

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <!-- Position Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Definisjon </th>
        <td  mat-cell *matCellDef="let element"> 
          
          <span *ngIf="!configToggle; else editPlace">
            {{element.name}} 
            </span>

          <ng-template #editPlace>
            <input [(ngModel)]="element.name" (keyup.enter)="configToggle = false" >
          </ng-template>
        </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef> status </th>
        <td mat-cell *matCellDef="let element" > <div *ngIf="element.value"  class="blob red" ></div> 
        <div *ngIf="!element.value" class="blob green"></div>
        
        </td>
      </ng-container>
    
 
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>  
  
  
  
  
  </mat-tab>

  <mat-tab label="Data">
    <h3>Updated:{{weatherUpdated}} </h3> 
    <div class="grid-container">
      <!-- <h1 class="mat-h1">VærData</h1> -->
      <mat-grid-list cols="{{ ( cardLayout | async )?.columns }}" rowHeight="200px">
        <!--Mini Cards-->
        <mat-grid-tile *ngFor="let i of data" [colspan]="( cardLayout | async )?.miniCard?.cols"
          [rowspan]="( cardLayout | async )?.miniCard?.rows">
          <app-minicard [unit]="i.unit" [icon]="i.icon" [title]="i.name" [color]="i.color" [value]=i.value [edit]="editable"><div></div></app-minicard>
        </mat-grid-tile>
      
       
      </mat-grid-list>
    
     </div>  



  </mat-tab>

</mat-tab-group>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close (click)="close($event)">Close</button>
  <button  mat-button *ngIf="configToggle" (click)="update()" >update</button>
</mat-dialog-actions>